<p>directives works!</p>

<div *ngIf="isShow">
    <p>{{city}}</p>
</div>

<div>
    {{cars}}
</div>

<div *ngFor="let carName of cars">
    {{carName}}
</div>

<div class="container" *ngIf="divShow">

</div>
<br>
<button (click)="toggle()">toggle</button>

<div [ngSwitch]="fruits">
    <div *ngSwitchCase="'mango'">my fav is mango</div>
    <div *ngSwitchCase="'pinple'">my fav is pineole</div>
    <div *ngSwitchCase="'aamba'">my fav is aamba</div>
</div>

<div class="info">
    i like pune
</div>

<!-- <div [ngclass]="{'adminUser' : user == 'Admin',  'mentorUser' : user == 'Mentor'}">
    Welcome to akash feed
</div> -->

<!-- <div [class.adminCls]="user == 'Admin"
     [class.adminCls]="user == 'Admin"
    [class.adminCls]="user == 'Admin" >
    welcome
</div> -->

<button (click)="getdata()">get data</button>

